<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.photologger.photo.mapper.AccountsMapper">
    <insert id="join" parameterType="com.example.photologger.photo.domain.User">
        INSERT INTO user (
            idx,
            profile_image_location,
            email,
            password,
            name,
            nick_name,
            phone_number,
            sex,
            user_year,
            user_month,
            user_day,
            type,
            gall_count,
            user_subscribe_count,
            auth_key
            )
        VALUES (
                NEXTVAL(idx),
                #{profileImageLocation},
                #{email},
                #{password},
                #{name},
                #{nickName},
                #{phoneNumber},
                #{sex},
                #{userYear},
                #{userMonth},
                #{userDay},
                #{type},
                #{galleryCount},
                #{userSubscribeCount},
                #{authKey}
                )
    </insert>

    <update id= "emailCheck">
        UPDATE user
        SET   auth_key = "1"
        where email    = #{email}
    </update>

    <select id="findEmail" resultType="com.example.photologger.photo.domain.User">
        SELECT *
        FROM user
        WHERE email    = #{emailg}
    </select>
</mapper>
