<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.photologger.photo.mapper.AccountsMapper">
    <insert id="join" parameterType="com.example.photologger.photo.domain.User">
        INSERT INTO user (
            idx,
            profileImageLocation,
            email,
            password,
            name,
            nickname,
            phone_number,
            sex,
            useryear,
            usermonth,
            userday,
            type,
            gall_count,
            usersubscribecount
            )
        VALUES (
                NEXTVAL(idx),
                #{profileImageLocation},
                #{email},
                #{password},
                #{name},
                #{nickName},
                #{phone_Number},
                #{sex},
                #{userYear},
                #{userMonth},
                #{userDay},
                #{type},
                #{gallaryCount},
                #{userSubscribeCount})
    </insert>

    <select id="findEmail" resultType="com.example.photologger.photo.domain.User">
        SELECT *
        FROM user
        WHERE email        = #{email}
    </select>
</mapper>
