<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.photologger.photo.mapper.GallaryMapper">
  <insert id="gallaryinfosave" parameterType="com.example.photologger.photo.domain.Gallery">
    INSERT INTO gallery (
      gallary_id,
      idx,
      gallary_adress,
      gallary_time,
      gallary_seseon,
      gallary_direaction,
      gallary_name,
      gallary_image_location,
      gallary_subscibe_count
    )
    VALUES (
             #{gallaryId},
             #{idx},
             #{gallaryAdress},
             #{gallaryTime},
             #{gallarySeseon},
             #{gallaryDireaction},
             #{gallaryName},
             #{gallaryImageLocation},
             #{gallarySubscribeCount}
             )
  </insert>
</mapper>
