<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.photologger.photo.mapper.PaginationMapper">
  <select id="gallerycount" resultType="int">
    SELECT COUNT(*)
    FROM PHOTO.gallery g
  </select>

  <select id = "indexPagination" resultType="com.example.photologger.photo.domain.Gallery">
    SELECT *
    FROM PHOTO.gallery
    ORDER BY sequence DESC
      LIMIT ${skip}, ${take}
    ;
  </select>

  <select id = "cursorPagination" resultType="com.example.photologger.photo.domain.Gallery">
        <![CDATA[
    SELECT *
    FROM gallery
    WHERE gallery_id < ${cursor}
    ORDER BY gallery_id DESC
      LIMIT ${take}
    ;
    ]]>
    </select>
</mapper>