<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.photologger.photo.mapper.PaginationMapper">

  <resultMap type="com.example.photologger.photo.domain.Gallery"
    id="GalleryInfo" >
    <result property="galleryId" column="gallery_id"/>
    <result property="idx" column="idx"/>
    <result property="galleryAdress" column="gallery_adress"/>
    <result property="galleryTime" column="gallery_time"/>
    <result property="gallerySeseon" column="gallery_seseon"/>
    <result property="galleryName" column="gallery_name"/>
    <result property="galleryDireactionX" column="gallery_direaction_x"/>
    <result property="galleryImageLocation" column="gallery_image_location"/>
    <result property="gallerySubscribeCount" column="gallery_subscibe_count"/>
    <result property="galleryDireactionY" column="gallery_direaction_y"/>
    <result property="galleryViews" column="gallery_views"/>
  </resultMap>

  <resultMap id="SubscribeGalleryInfo" type="com.example.photologger.photo.domain.Subscribe">
    <result property="idx" column="idx"/>
    <result property="galleryId" column="gallery_id"/>
  </resultMap>

  <resultMap id="JoinGalleryAndSubscribeInfo" type="com.example.photologger.photo.domain.JoinGalleryAndSubscribe">
    <collection property="gallery" resultMap="GalleryInfo"/>
    <collection property="user" resultMap="UserInfo"/>
    <collection property="galleryPrice" resultMap="GalleryPriceInfo"/>
  </resultMap>

  <select id="gallerycount" resultType="int">
    SELECT COUNT(*)
    FROM PHOTO.gallery g
  </select>

  <select id = "indexPagination" resultType="com.example.photologger.photo.domain.Gallery">
    SELECT *
    FROM PHOTO.gallery
    ORDER BY sequence DESC
      LIMIT ${skip}, ${take}
    ;
  </select>

  <select id = "cursorPagination" resultMap="JoinGalleryAndSubscribeInfo">
        <![CDATA[
    SELECT *
    FROM       gallery g, subscribe_gallery s
    WHERE      g.gallery_id < ${cursor} AND s.idx = #{idx}
    ORDER BY   gallery_id DESC
      LIMIT ${take}
    ;
    ]]>
    </select>
</mapper>