<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.photologger.photo.mapper.PaymentMapper">
    <select id="paymentIdx" parameterType="com.example.photologger.photo.domain.Payment">
        SELECT *
        FROM payment
        WHERE idx = #{idx}
          AND total_point= #{totalPoint}
          AND sell_point= #{sellPoint}
    </select>
    <insert id="paymentUpdate" parameterType="com.example.photologger.photo.domain.Payment">
        INSERT INTO user_point
        SET idx  = #{idx}
                , total_point = #{totalPoint}
                , sell_point = #{sellPoint}
        ON DUPLICATE KEY UPDATE
            total_point = total_point + #{totalPoint}
            ,sell_point = #{sellPoint}
    </insert>
    <insert id="paymentHistoryInsert" parameterType="com.example.photologger.photo.domain.PaymentHistory">
        INSERT INTO payment_history
        SET idx = #{idx}
                , pay = #{pay}
                , name =#{name}
                , email =#{email}
                , pay_card = #{payCard}
                , time = #{time}
                , mid = #{mId}
    </insert>
    <select id="paymentHistory" resultType="com.example.photologger.photo.domain.PaymentHistory">
        SELECT *
        FROM payment_history
        WHERE time between #{startHistory} AND #{endHistory}
        And email = #{email}
        ORDER BY time ASC
    </select>
</mapper>