<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.photologger.photo.mapper.UserMapper">
    <select id="findOne" resultType="com.example.photologger.photo.domain.User" >
        SELECT *
        FROM user
        WHERE idx = #{idx}
    </select>
    
    <select id="findId" resultType="com.example.photologger.photo.domain.User">
        SELECT email
          FROM user
         WHERE name     = #{name}
           AND phone_number  = #{phoneNumber}
    </select>

    <select id="findPwd" resultType="com.example.photologger.photo.domain.User">
        SELECT *
          FROM user
         WHERE email        = #{email}
           AND name         = #{name}
           AND phone_number = #{phoneNumber}
    </select>
    
    <update id= "updatePassword">
        UPDATE user
           SET password = #{password}
         where idx      = #{idx}
    </update>


    <update id= "updateEPassword">
        UPDATE user
        SET password = #{password}
        where email  = #{email}
    </update>

    <update id="updateName">
      UPDATE user
         SET name = #{name}
       WHERE idx  = #{idx}
    </update>

    <select id="subScribe" resultType="com.example.photologger.photo.domain.ReturnSubScribe">
        SELECT user.nick_name,user.profile_Image_location
        FROM user
        LEFT JOIN subscribe_user ON user.idx = subscribe_user.subscribe_idx
        WHERE subscribe_user.idx = #{idx}
    </select>
    <select id="photosForSale" resultType="com.example.photologger.photo.domain.ReturnPhotosForSale">
        SELECT gallery.gallery_id, gallery.idx, gallery.gallery_image_location
        FROM gallery
        WHERE idx = #{idx}
    </select>
</mapper>
