<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <form action="/accounts/new" method="post">
        <div class="form-group">
            <label for="Name">이름</label>
            <input type="text" id="Name" name="Name" placeholder="이름을
입력하세요">
            <label for="Email">이메일</label>
            <input type="text" id="Email" name="Email" placeholder="이름을
입력하세요">
            <label for="Password">비밀번호</label>
            <input type="text" id="Password" name="Password" placeholder="이름을
입력하세요">
            <label for="NicName">nicname</label>
            <input type="text" id="NicName" name="NicName" placeholder="이름을
입력하세요">
            <label for="Phonenumber">전화번호</label>
            <input type="text" id="Phonenumber" name="Phonenumber" placeholder="이름을
입력하세요">
            <label for="Sex">성별</label>
            <input type="text" id="Sex" name="Sex" placeholder="이름을
입력하세요">
            <label for="Adress">주소</label>
            <input type="text" id="Adress" name="Adress" placeholder="이름을
입력하세요">
            <label for="Year">년</label>
            <input type="text" id="Year" name="Year" placeholder="이름을
입력하세요">
            <label for="Month">월</label>
            <input type="text" id="Month" name="Month" placeholder="이름을
입력하세요">
            <label for="Day">일</label>
            <input type="text" id="Day" name="Day" placeholder="이름을
입력하세요">
            <label for="Type">?</label>
            <input type="text" id="Type" name="Type" placeholder="이름을
입력하세요">
            <label for="Gall_count">?</label>
            <input type="text" id="Gall_count" name="Gall_count" placeholder="이름을
입력하세요">
            <label for="User_subscribe_count">?</label>
            <input type="text" id="User_subscribe_count" name="User_subscribe_count" placeholder="이름을
입력하세요">
            <label for="Profile_img_loc">?</label>
            <input type="text" id="Profile_img_loc" name="Profile_img_loc" placeholder="이름을
입력하세요">

        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>